<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net472" />
  <package id="NuGet.Common" version="6.10.0" targetFramework="net472" />
  <package id="NuGet.Configuration" version="6.10.0" targetFramework="net472" />
  <package id="NuGet.Frameworks" version="6.10.0" targetFramework="net472" />
  <package id="NuGet.Packaging" version="6.10.0" targetFramework="net472" />
  <package id="NuGet.Versioning" version="6.10.0" targetFramework="net472" />
</packages>